name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Cache Maven local repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build & Package
        run: mvn -B -T1C -DskipTests package

      - name: Run tests
        run: mvn -B test

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jars
          path: |
            notification-producer/target/*.jar
            email-consumer/target/*.jar
